<template>
  <div class="sc-chat-window" :class="open">
    <Header @closeChat="$emit('closeChat')" @users="$emit('users')" :icon="icon">
      <template slot="username">
        {{ contact ? contact.name : 'Select a Contact'}}
      </template>
      <template slot="icons">
        <img src="./assets/users.png" alt="Users LIst" />
      </template>
    </Header>
    <MessageList

      :contact="contact" :messages="messages"
    />
    <UserInput @send="sendMessage" />
  </div>
</template>

<script>
import Header from './Header.vue'
import MessageList from './MessageList.vue'
import UserInput from './UserInput.vue'

export default {
  components: {
    Header,
    MessageList,
    UserInput
  },
  props: {
    contact: {
        type: Object,
        default: null
    },
    messages: {
        type: Array,
        default: []
    },
    icon: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      open: "open",
      sign: false,
    }
  },
  methods: {
    sendMessage(text) {
      if (!this.contact) {
              return;
      }
      //console.log(text);

      this.$emit('new', {
        contact_id: this.contact.id,
        to: this.contact.id,
        new: 0,
        text: text
        });
      axios.post('/conversation/send', {
          contact_id: this.contact.id,
          text: text
      }).then((response) => {
          var total = this.messages.length-1
          this.messages[total].new = 1;
      });
    }
  }
}

</script>
<style scoped>
.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}
</style>
