<template>
  <div>
    <div class="sc-launcher" :class="launch ? 'opened' : 'isOpen'" @click="launch = !launch" >
      <div v-if="totalSender > 0 " class="sc-new-messsages-count">
        {{totalSender}}
      </div>
      <img class="sc-open-icon" src="./assets/close-icon.png" />
      <img class="sc-closed-icon" src="./assets/logo-no-bg.svg" />
    </div>
    
    <transition name="slide">
      <chat-window v-if="launch && !users" 
      @users="users = !users, selectedContact = null"
      @closeChat="launch = !launch"
      :contact="selectedContact" :messages="messages" :icon="icon"
      @new="saveNewMessage"
      ></chat-window>
      
      <contact-list v-if="launch && users" 
      @selected="startConversationWith"
      @closeChat="launch = !launch"
      :contacts="contacts"
      :onlineUsers="onlineUsers"
      ></contact-list>
    </transition>
  </div>
</template>
<script>
import ChatWindow from './ChatWindow.vue'
import ContactList from './ContactList.vue'
require('howler');

export default {
  props: {
    user: {
        type: Object,
        required: true
    }
  },
  data () {
    return {
        open: "open",
        launch: false,
        users: true,

        selectedContact: null,
        messages: [],
        contacts: [],
        icon: false,
        onlineUsers: '',
    }
  },
  mounted(){
    if(this.user.id){
      this.$root.activeUser = this.user.id
    };
    Echo.private(`messages.${this.user.id}`)
      .listen('NewMessage', (e) => {
          this.handleIncoming(e.message);
      });

      Echo.private(`msgSeen`)
      .listen('MsgSeenEvent', (e) => {
            //console.log(e.user.id);
            // console.log("selected User" + e.message);
            // console.log("active User" + this.$root.activeUser);
            this.$root.userId = e.message;
            this.$root.opositeActiveUser = e.user.id;
      });

    axios.get("/contacts")
      .then((response) => {
          this.contacts = response.data;
      });

      Echo.join(`activeUsers`)
      .here((users) => {
          this.onlineUsers = users;
      })
      .joining((user) => {
          this.onlineUsers.push(user);
      })
      .leaving((user) => {
          this.onlineUsers = this.onlineUsers.filter((u) => {u != user});
      });
},
  methods: {
      startConversationWith(contact) {
        this.users = false;
        this.icon = true;
        this.updateUnreadCount(contact, true);
        axios.get(`/conversation/${contact.id}`)
        .then((response) => {
            this.messages = response.data;
            this.selectedContact = contact;
        });

        axios.post('/msgseen', {
          msg_seen: contact.id,
        }).then((response) => {
        });
    },
      saveNewMessage(message) {
        //console.log(message);
        this.messages.push(message);
      },
      handleIncoming (message) {
        if (this.selectedContact && message.from == this.selectedContact.id){
            this.saveNewMessage(message);

          axios.post('/msgseen', {
            msg_seen: this.selectedContact.id,
          }).then((response) => {
          });
          
            return;
        }
        this.playAudio();
        this.updateUnreadCount(message.from_contact, false);
    },
    updateUnreadCount(contact, reset) {
        
        this.contacts = this.contacts.map((single) => {
            if (single.id !== contact.id) {
                return single;
            }

            if (reset)
                single.unread = 0;
            else
                single.unread += 1;
                single.latest = new Date().getTime();
                
            return single;
        })
    },
    playAudio() {
      new Howl({
          src: 'http://soundbible.com/mp3/Elevator%20Ding-SoundBible.com-685385892.mp3',
          autoplay: true,
          loop: false,
          volume: 1,
      });
    }
  },
  computed: {
    totalSender(){
      var countSender = 0;
      this.contacts.forEach(contact => {
        if(contact.unread > 0) {
          countSender += 1;
        }
      });
      return countSender;
    },
  },
  components: {
    ChatWindow,
    ContactList
  },
}
</script>
<style scoped>
.sc-launcher {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  background-color: #4e8cff;
}

.sc-launcher:before {
  content: '';
  position: relative;
  display: block;
  width: 60px;
  height: 60px;  
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
}

.sc-launcher .sc-open-icon,
.sc-launcher .sc-closed-icon {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.sc-launcher .sc-closed-icon {
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  width: 60px;
  height: 60px;
}

.sc-launcher .sc-open-icon {
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}

.sc-launcher.opened .sc-open-icon {
  transform: rotate(-90deg);
  opacity: 1;
}

.sc-launcher.opened .sc-closed-icon {
  transform: rotate(-90deg);
  opacity: 0;
}

.sc-launcher.opened:before {
  box-shadow: 0px 0px 400px 250px rgba(148, 149, 150, 0.2);
}

.sc-launcher:hover {
  box-shadow: 0 0px 27px 1.5px rgba(0,0,0,0.2);
}

.sc-new-messsages-count {
  position: absolute;
  top: -3px;
  left: 41px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
	width: 22px;
  height: 22px;
  background: #ff4646;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  font-weight: 500;
}




.slide-enter {

    }
    .slide-enter-active {
        animation: slide-in .50s ease-out forwards;
    }
    .slide-leave {

    }
    .slide-leave-active {
        animation: slide-out 0s ease-out forwards;
    }
    @keyframes slide-in {
        from {
            transform: translateX(2000px);
        }
        to {
            transform: translateX(0);
        }
    }
    @keyframes slide-out {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(2000px);
        }
    }
</style>

