<template>
  <div class="feed" ref="feed" >
    <ul v-if="contact">
        <li v-for="message in messages" :class="`message${message.to == contact.id ? ' sent' : ' received'}`" :key="message.id">
            <div class="text">
                {{ message.text }}
                <i v-if=" message.to == contact.id && (message.new || message.read == 0)" class="fas fa-check"></i>
                <i v-if=" message.to == contact.id && ( message.read == 1)"  class="fas fa-check-double"></i>
            </div>
        </li>
        <div v-if="typing" class="badge badge-info"><center>{{ typing }}</center></div>
    </ul>
  </div>
</template>
<script>

export default {
  components: {
   
  },
  props: {
    contact: {
        type: Object
    },
    sign: {
        type: Boolean,
        default: false
    },
    messages: {
        type: Array,
        required: true
    },
  },
  data(){
      return {
          typing: null
      }
  },
  methods: {
      scrollToBottom() {
          setTimeout(() => {
              this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
          }, 50);
      },
      msgSeen() {
        this.messages.forEach(message => {
            message.new = 0;
            message.read = 1;
        });
      }
  },
  watch: {
      contact(contact) {
          this.scrollToBottom();
      },
      messages(messages) {
          this.scrollToBottom();
      }
  },
  mounted() {
      Echo.private(`msgSeen`)
      .listen('MsgSeenEvent', (e) => {
        // console.log("selected User" + e.message);
        // console.log("active User" + this.$root.activeUser);
        //   this.$root.userId = e.message;
        //   if(this.$root.activeUser == e.message){
              
        //   }
                
        if(this.$root.opositeActiveUser == this.$root.selected){
            this.msgSeen();
        }
      });

      Echo.private('msgSeen')
      .listenForWhisper('typing', (e) => {
        if(this.$root.activeUser == this.$root.userId && this.$root.opositeActiveUser == this.$root.selected && e.name != ''){
            this.typing = 'typing...';
        }else{
          this.typing = '';
        }
      });
  }
}
</script>

<style lang="scss" scoped>

.feed {
    background: #f0f0f0;
    overflow-y: auto;
    background-size: 100%;
    padding: 40px 0px;
    height: 100%;
    ul {
        list-style: none;
        padding: 0px 20px;
        li {
            &.message {
                margin: 10px 0;
                width: 100%;

                .sign {
                }
                .text {
                    max-width: 200px;
                    border-radius: 5px;
                    padding: 15px;
                    display: inline-block;
                }

                &.received {
                    text-align: left;
                    .text {
                        background: #e2e0e0;
                    }
                }
                &.sent {
                    text-align: right;
                    .text {
                        background: #4e8cff;
                    }
                }
            }
        }
    }
}
</style>
