<template>
  <div>
    <form  class="sc-user-input" :class="{active: inputActive}" >
      <input type="text"
        role="button"
        tabIndex="0"
        @focus="setInputActive(true)"
        @blur="setInputActive(false)"
        contentEditable="true"
        placeholder="Write a reply"
        class="sc-user-input--text"
        ref="userInput"
        style="color: #565867"
        v-model="message"
        @keydown.enter="send"
      >
      <div @click="send" class="sent-button">
        <img src="./assets/sent.png" alt="Sent" />
      </div>
    </form>
  </div>
</template>


<script>

export default {
  components: {
    
  },
  props: {

  },
  data () {
    return {
      message: '',
      inputActive: false
    }
  },
  methods: {
    setInputActive (onoff) {
      this.inputActive = onoff
    },
    send(e) {
        e.preventDefault();
        
        if (this.message == '') {
            return;
        }

        this.$emit('send', this.message);
        this.message = '';
    }
  },
  watch: {
    message() {
      Echo.private('msgSeen')
      .whisper('typing', {
          name: this.message
      });
    }
  }
}
</script>

<style>
.sent-button {
  cursor: pointer;
  align-self: center;
  padding: 3px 15px 3px 0px;
}
.sc-user-input {
  min-height: 55px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #f4f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

.sc-user-input--text {
  width: 320px;
  max-width: 340px;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sc-user-input--text:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  /* color: rgba(86, 88, 103, 0.3); */
  filter: contrast(15%);
  outline: none;
}

.sc-user-input--buttons {
  width: 100px;
  position: absolute;
  right: 30px;
  height: 100%;
  display: flex;
}

.sc-user-input--button:first-of-type {
  width: 40px;
}

.sc-user-input--button {
  width: 30px;
  height: 55px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.sc-user-input--button label {
  position: relative;
  height: 24px;
  padding-left: 3px;
  cursor: pointer;
}

.sc-user-input--button label:hover path {
  fill: rgba(86, 88, 103, 1);
}

.sc-user-input--button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.file-container {
  background-color: #f4f7f9;
  border-top-left-radius: 10px;
  padding: 5px 20px;
  color: #565867;
}

.delete-file-message {
  font-style: normal;
  float: right;
  cursor: pointer;
  color: #c8cad0;
}

.delete-file-message:hover {
  color: #5d5e6d;
}

.icon-file-message {
  margin-right: 5px;
}

</style>
